.author {
    display: flex;
    flex-direction: row;
    margin-bottom: 2.625rem;
}

.author__image {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.author__info {
    display: flex;
    flex-direction: column;
    color: var(--textNormal);
    margin-left: 10px;
}