.post_list_item__wrapper {}

.post_list_item__title a {
    color: var(--textLink);
    text-decoration: none;
}

.post_list_item__date {
    color: var(--textNormal);
}

.post_list_item__caption {
    color: var(--textNormal);
}